* {
  box-sizing: border-box;
}
/* The body */
body {
  font-family: Arial;
  padding: 60px;
  background-image:url("../image/artgallery.jpg");
}
/* Centers the link */
div a {
    text-align: center;
}
iframe{
  float: right;
}
/* The header size and color*/
.header{
  padding: 30px;
  font-size: 50px;
  color: #DC143C;
}
/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  margin-top: 20px;
}





/* Navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ddd;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ddd;  
  }
}




/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}



/* Left column */
.leftcolumn {   
  width: 100%;
}

/* Left column 2 */
.leftcolumn2 {
  float: left;
  width: 25%;
}
/* Left column 3 */
.leftcolumn3 {
  float: left;
  width: 50%;
   padding-left: 20px;
}



/* Center column */
.centercolumn {
  float: left;
  width: 25%;
}



/* Right column */
.rightcolumn {
  float: right;
  width: 25%;
}
/* Right column 2*/
.rightcolumn2 {
  float: right;
  width: 25%;
}
/* Right column 3 */
.rightcolumn3 {
  float: right;
  width: 50%;
   padding-left: 20px;
}





/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}



/* Carousel */
/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}
  
/* Make the image fully responsive */
.carousel-inner img {
    width: 100%;
    height: 50%;
}

.carousel-item h3{
    color: #FFD993; 
}

.carousel-item p{
    color: #FFD993; 
}
.iframe{
    width: 50%;
    height: auto;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
